<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="CookeryModelContainer" connectionString="metadata=res://*/CookeryModel.csdl|res://*/CookeryModel.ssdl|res://*/CookeryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=RiS.Lab06;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="CurrencyExchangeModelContainer" connectionString="metadata=res://*/CurrencyExchangeModel.csdl|res://*/CurrencyExchangeModel.ssdl|res://*/CurrencyExchangeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=RiS.Lab06;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
</configuration>
